node_modules
dist
dev-dist
coverage
*.tsbuildinfo

# Testing
playwright-report
test-results
blob-report
.vitest

# Editors / OS
.DS_Store
*.local

# Env
.env
.env.*
!.env.example

# Logs
npm-debug.log*
pnpm-debug.log*
